In [89]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [90]:
import sklearn

In [91]:
data_ball = pd.read_csv('training_dataset/DataSet/IPL_Ball_by_Ball_2008_2022.csv')
data_match = pd.read_csv('training_dataset/DataSet/IPL_Matches_Result_2008_2022.csv')
data_ipl_2k23_player_team=pd.read_csv('training_dataset/DataSet/Ipl_2023 _cricketers - Players.csv')

In [92]:
data_ball.head(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [93]:
data_match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [94]:
data_ipl_2k23_player_team.head()

        player Team
0  YBK Jaiswal    RR
1   JC Buttler    RR
2    SV Samson    RR
3   D Padikkal    RR
4   SO Hetmyer    RR

In [95]:
data_ball.isnull().sum()

ID                        0
innings                   0
overs                     0
ballnumber                0
batter                    0
bowler                    0
non-striker               0
extra_type           213905
batsman_run               0
extras_run                0
total_run                 0
non_boundary              0
isWicketDelivery          0
player_out           214803
kind                 214803
fielders_involved    217966
BattingTeam               0
dtype: int64

## Ball Dataset Preprocessing

### Data Cleaning

In [96]:
data_ball = pd.read_csv('training_dataset/DataSet/IPL_Ball_by_Ball_2008_2022.csv')
data_ball.head(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [97]:
data_ball.shape

(225954, 17)

In [98]:
data_ball['extra_type'].unique()

array([nan, 'legbyes', 'wides', 'byes', 'noballs', 'penalty'],
      dtype=object)

In [99]:
data_ball.isnull().sum()

ID                        0
innings                   0
overs                     0
ballnumber                0
batter                    0
bowler                    0
non-striker               0
extra_type           213905
batsman_run               0
extras_run                0
total_run                 0
non_boundary              0
isWicketDelivery          0
player_out           214803
kind                 214803
fielders_involved    217966
BattingTeam               0
dtype: int64

In [100]:
data_ball = data_ball.drop(['extra_type', 'kind', 'fielders_involved', 'batsman_run', 'extras_run', 'isWicketDelivery'], axis = 1)

In [101]:
data_ball.isnull().sum()

ID                   0
innings              0
overs                0
ballnumber           0
batter               0
bowler               0
non-striker          0
total_run            0
non_boundary         0
player_out      214803
BattingTeam          0
dtype: int64

In [102]:
data_ball['player_out'] = data_ball['player_out'].replace([np.nan], ['Not out'])

In [103]:
data_ball.shape

(225954, 11)

In [104]:
data_ball.head(40)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,total_run,non_boundary,player_out,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,Not out,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,1,0,Not out,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,1,0,Not out,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,Not out,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,Not out,Rajasthan Royals
5,1312200,1,0,6,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,Not out,Rajasthan Royals
6,1312200,1,1,1,JC Buttler,Yash Dayal,YBK Jaiswal,0,0,Not out,Rajasthan Royals
7,1312200,1,1,2,JC Buttler,Yash Dayal,YBK Jaiswal,0,0,Not out,Rajasthan Royals
8,1312200,1,1,3,JC Buttler,Yash Dayal,YBK Jaiswal,4,0,Not out,Rajasthan Royals
9,1312200,1,1,4,JC Buttler,Yash Dayal,YBK Jaiswal,0,0,Not out,Rajasthan Royals
10,1312200,1,1,5,JC Buttler,Yash Dayal,YBK Jaiswal,1,0,Not out,Rajasthan Royals
11,1312200,1,1,6,YBK Jaiswal,Yash Dayal,JC Buttler,0,0,Not out,Rajasthan Royals
12,1312200,1,2,1,JC Buttler,Mohammed Shami,YBK Jaiswal,1,0,Not out,Rajasthan Royals
13,1312200,1,2,2,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,Not out,Rajasthan Royals
14,1312200,1,2,3,YBK Jaiswal,Mohammed Shami,JC Buttler,4,0,Not out,Rajasthan Royals
15,1312200,1,2,4,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,Not out,Rajasthan Royals
16,1312200,1,2,5,YBK Jaiswal,Mohammed Shami,JC Buttler,6,0,Not out,Rajasthan Royals
17,1312200,1,2,6,YBK Jaiswal,Mohammed Shami,JC Buttler,3,0,Not out,Rajasthan Royals
18,1312200,1,3,1,YBK Jaiswal,Yash Dayal,JC Buttler,1,0,Not out,Rajasthan Royals
19,1312200,1,3,2,JC Buttler,Yash Dayal,YBK Jaiswal,1,0,Not out,Rajasthan Royals
20,1312200,1,3,3,YBK Jaiswal,Yash Dayal,JC Buttler,0,0,Not out,Rajasthan Royals
21,1312200,1,3,4,YBK Jaiswal,Yash Dayal,JC Buttler,2,0,Not out,Rajasthan Royals
22,1312200,1,3,5,YBK Jaiswal,Yash Dayal,JC Buttler,6,0,Not out,Rajasthan Royals
23,1312200,1,3,6,YBK Jaiswal,Yash Dayal,JC Buttler,0,0,YBK Jaiswal,Rajasthan Royals
24,1312200,1,4,1,JC Buttler,LH Ferguson,SV Samson,0,0,Not out,Rajasthan Royals
25,1312200,1,4,2,JC Buttler,LH Ferguson,SV Samson,1,0,Not out,Rajasthan Royals
26,1312200,1,4,3,SV Samson,LH Ferguson,JC Buttler,4,0,Not out,Rajasthan Royals
27,1312200,1,4,4,SV Samson,LH Ferguson,JC Buttler,1,0,Not out,Rajasthan Royals
28,1312200,1,4,5,JC Buttler,LH Ferguson,SV Samson,0,0,Not out,Rajasthan Royals
29,1312200,1,4,6,JC Buttler,LH Ferguson,SV Samson,0,0,Not out,Rajasthan Royals
30,1312200,1,5,1,SV Samson,Rashid Khan,JC Buttler,4,0,Not out,Rajasthan Royals
31,1312200,1,5,2,SV Samson,Rashid Khan,JC Buttler,1,0,Not out,Rajasthan Royals
32,1312200,1,5,3,JC Buttler,Rashid Khan,SV Samson,1,0,Not out,Rajasthan Royals
33,1312200,1,5,4,SV Samson,Rashid Khan,JC Buttler,0,0,Not out,Rajasthan Royals
34,1312200,1,5,5,SV Samson,Rashid Khan,JC Buttler,1,0,Not out,Rajasthan Royals
35,1312200,1,5,6,JC Buttler,Rashid Khan,SV Samson,0,0,Not out,Rajasthan Royals
36,1312200,1,6,1,SV Samson,LH Ferguson,JC Buttler,0,0,Not out,Rajasthan Royals
37,1312200,1,6,2,SV Samson,LH Ferguson,JC Buttler,1,0,Not out,Rajasthan Royals
38,1312200,1,6,3,JC Buttler,LH Ferguson,SV Samson,0,0,Not out,Rajasthan Royals
39,1312200,1,6,4,JC Buttler,LH Ferguson,SV Samson,4,0,Not out,Rajasthan Royals

In [105]:
ID = list(data_ball['ID'].unique())

In [108]:
data_ball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            225954 non-null  int64
 1   innings       225954 non-null  int64
 2   overs         225954 non-null  int64
 3   ballnumber    225954 non-null  int64
 4   batter        225954 non-null  object
 5   bowler        225954 non-null  object
 6   non-striker   225954 non-null  object
 7   total_run     225954 non-null  int64
 8   non_boundary  225954 non-null  int64
 9   player_out    225954 non-null  object
 10  BattingTeam   225954 non-null  object
dtypes: int64(6), object(5)
memory usage: 19.0+ MB

In [113]:
data_ball = data_ball.drop(data_ball.loc[data_ball['overs'] > 5].index)

In [115]:
data_ball.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,total_run,non_boundary,player_out,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,Not out,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,1,0,Not out,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,1,0,Not out,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,Not out,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,Not out,Rajasthan Royals

In [116]:
data_ball.isna().sum()

ID              0
innings         0
overs           0
ballnumber      0
batter          0
bowler          0
non-striker     0
total_run       0
non_boundary    0
player_out      0
BattingTeam     0
dtype: int64